@mixin font-face($family, $alias, $weights: 400, $styles: normal) {
	@each $style in $styles {
		@each $weight in $weights {
			@font-face {
				font-weight: $weight;
				font-family: $family;
				font-style: $style;
				font-display: swap;
				src: url('/fonts/#{$alias}-#{$style}-#{$weight}.woff2') format('woff2');
			}
		}
	}
}

// @include font-face("Montserrat", "montserrat", (400, 500, 700));
